[submodule "gtest"]
	path = lib/googletest
	url = git@github.com:nooneknowspeter/googletest.git
[submodule "compile_flagz"]
	path = lib/compile_flagz
	url = git@github.com:nooneknowspeter/compile_flagz.git
	branch = feat/v3.x.x
[submodule "catch2"]
	path = lib/catch2
	url = git@github.com:nooneknowspeter/catch2.git
[submodule "boost"]
	path = lib/boost
	url = git@github.com:nooneknowspeter/boost-libraries-zig.git
