# cpp artifacts
compile_commands.json
compile_flags.txt

# zig artifacts
.zig-cache
zig-out
.cache
init
zig-pkg/

# direnv
.direnv

# build artifacts
*.out
*.o

# patching
*.rej
*.orig

# local state
.cpplings/

# misc
perf.data
flamegraph.html
gecko_profile.json

/.quarto/
**/*.quarto_ipynb
